name: "Publish Release"

on:
  push:
    tags:
      - 'v*'
  workflow_dispatch:

jobs:
  publish-tauri:
    permissions:
      contents: write
    strategy:
      fail-fast: false
      matrix:
        include:
          - platform: "windows-latest"
            args: ""

    runs-on: ${{ matrix.platform }}
    steps:
      - uses: actions/checkout@v4

      - name: setup node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: install frontend dependencies
        run: npm install
        working-directory: zyma/ui

      - name: build frontend
        run: npm run build
        working-directory: zyma/ui

      - uses: tauri-apps/tauri-action@v0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tagName: v__VERSION__
          releaseName: "Zyma v__VERSION__"
          releaseBody: "Windows Release. Domestic users please use Gitee mirror."
          releaseDraft: false
          prerelease: false
          args: ${{ matrix.args }}
          projectPath: "zyma"

  sync-to-gitee:
    needs: publish-tauri
    runs-on: ubuntu-latest
    steps:
      - name: Mirror the GitHub repo to Gitee
        uses: Yikun/hub-mirror-action@master
        with:
          src: github/zymaio
          dst: gitee/zymaio
          dst_key: ${{ secrets.GITEE_PRIVATE_KEY }}
          dst_token: ${{ secrets.GITEE_TOKEN }}
          static_list: "zyma"
          force_update: true
          debug: true